services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - PORT=7202
      - ENVIRONMENT=development
      - FUNCTION_TARGET=RunHTTPServer
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - GCP_PROJECT_ID=${GCP_PROJECT_ID}
    volumes:
      # Local dev only: mount host gcloud credentials
      # Use service account in production
      - ~/.config/gcloud:/root/.config/gcloud:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      # args:
      #   /* to avoid CORS error, use API_BACKEND instead of VITE_API_BASE */
      #   - VITE_API_BASE=http://localhost:7202/api
    ports:
      - "7201:7201"
    environment:
      - API_BACKEND=http://backend:7202
    depends_on:
      - backend
